body {
  font-family: "Poppins";
  background: #EFE9F4;
  color: #064661;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
section {
  background: #EFE9F4;
  padding: 40px;
  margin-bottom: 40px;
}
.cabecalho {
  width: 100%;
  background: #064661;
  padding: 40px 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 0;
  box-sizing: border-box;
}
.img-banner {
  width: 110%;
  height: auto;
  margin-left: -80px;
  margin-bottom: 40px;
}
.cabecalho_h1 {
  color: #FFFFFF;
  font-family: "Limelight";
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
.principal {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 80px 60px 80px;
}
.h2{
  font-family: "Limelight";
  color: #064661;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.apresentacao_paragrafo{
  color: #064661;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
}
.paragrafo {
  font-family: "Poppins";
  margin: 8px 0;
  font-size: 16px;
}
.detalhes_paragrafo {
  color: #064661;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
}
.detalhes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
}
.detalhes_texto {
  display: flex;
  flex-direction: column;
}
.detalhes_imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detalhes_imagem_foto {
  width: 538px;
  height: 361px;
}
.topicos_lista {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topicos_item {
  height: 167px;
  width: 357px;
  background: #99BEDF;
  border: 2px solid #064661;
  padding: 28px 24px;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}
.topicos_item:hover {
transform: scale(1.1);
}
.topicos_item_destaque {
  background: #406C83;
  color: #FFFFFF;
}
.topicos_item_titulo {
  font-family: "Limelight";
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 15px;
  padding-left: 15px;
}
.topicos_item_valor {
  font-family: "Poppins";
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding-left: 15px;
}
.galeria_itens {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;

}
.galeria_item {
  width: 250px;
  height: 250px;
  border-radius: 30px;
    transition: transform 0.3s ease; 
}
.galeria_item:hover {
transform: scale(1.2);
}
.contato_lista {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.contato_lista_conjunto {
  display: flex;
  margin-bottom: 8px;
  gap: 8px;
}
.contato_item {
  color: #064661;
  font-family: "Poppins";
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
.contato_item_logo {
  width: 24px;
  height: 24px;
}
.rodape {
  width: 100%;
  background: #064661;
  color: #FFFFFF;
  text-align: center;
  padding: 32px 40px;
  margin: 40px 0 0 0;
  margin-top: 40px;
}

